:root {
  --primary-green: hsl(160deg, 100%, 30%);
  --secondary-gold-light: hsl(45deg, 100%, 50%);
  --secondary-gold-dark: hsl(45deg, 100%, 40%);
  --black: hsl(0deg, 0%, 0%);
  --very-dark-gray: hsl(0deg, 0%, 10%);
  --dark-gray: hsl(0deg, 0%, 30%);
  --medium-gray: hsl(0deg, 0%, 40%);
  --light-gray: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
